{% extends 'base.html.twig' %}

{% block title %}
    Подтверждение
{% endblock %}

{% block body %}
    <div class="container" style="margin: 20px; padding: 20px">
        {% if user %}
            <h5>Congratulations!</h5>
            <p>Your account is confirmed success!</p>
            <a href="{{ path('app_login') }}">GO HERE</a>
        {% else %}
            <h5>Some error =(</h5>
        {% endif %}
    </div>
{% endblock %}