{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="input-group col-md-12">
            <input class="form-control py-2" type="search" id="search" placeholder="Поиск...">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        <hr>


        <ul class="list-group mt-3">
            <li class="list-group-item mb-2">
                <div class="d-flex w-100 justify-content-between">
                    <a href="#" id="resSearch">Some text</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            $("#search").keyup(function(){
                var search = $("#search").val();
                $.ajax({
                    type: "POST",
                    url: "search",
                    data: {"search": search},
                    cache: false,
                    success: function(response){
                        console.log(JSON.stringify(response))
                        var frndCard = function(list) {
                            for (var one in list) {
                                    document.getElementById("resSearch").innerHTML = list[one].nick;
                                var a = document.getElementById('resSearch');
                                a.href = '/profile/' + list[one].nick
                            }
                        };
                        frndCard(response);
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}