<h3>Welcome</h3>

Hello, {{ user.nick }}!

Please, confirm your account by clicking this <a
        href="{{ path('security_confirm', {'token': user.confirmToken}) }}">hear</a>

You must to follow this <a href="{{ path('app_login') }}">link</a>